Source: eventlet_log
Section: devel
Priority: optional
Maintainer: Roma Sokolov
Uploaders: Roma Sokolov <sokolov.r.v@gmail.com>
Build-Depends: debhelper (>= 7), cdbs, python-support, python-eventlet
Standards-Version: 3.8.4

Package: python-eventlet-log
Architecture: any
Section: admin
Depends: python-minimal, python-eventlet
Description: Dumb Simple logger
